.attribution {
    margin-top: 2rem;
    font-family: 'DM Sans', sans-serif; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
    width: 100%;
    height: 100%;
}

body,main{
    width: 100%;
    height: 100%;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/* ***************** */
main{
    display: flex;
}

body{
    background-color: hsl(27, 66%, 92%);
}

span{
    font-family: 'DM Sans', sans-serif;
}

.contenedor{
    width: 40%;
    margin: auto auto;
    max-width: 60rem;
    min-width: 45rem;
}
@media (max-width:500px){
    .contenedor{
        width: 95%;
        margin: auto auto;
        max-width: 37.5rem;
        min-width: 0rem;
    }
}

.primera_seccion{
    background-color: hsl(10, 79%, 65%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 3rem;
    border-radius: 2rem;
}

.logo{
    text-align: right;
    margin: auto 0;
}

.balance{
    margin: auto 0;
}

.balance_texto{
    font-size: 1.6rem;
    color: hsl(27, 66%, 92%);
}

.balance_numeros{
    font-size: 3rem;
    color: hsl(33, 100%, 98%);
    font-weight: 700;
    margin-top: 1rem;
}

.segunda_seccion{
    background-color: hsl(33, 100%, 98%);
    padding: 2rem 3rem;
    margin-top: 2rem;
    border-radius: 2rem;

}

.spending{
    font-size: 2.8rem;
    font-weight: 700;
    color: hsl(25, 47%, 15%);
}

.tabla{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 6rem;
    gap: 2rem;
}

@media (max-width:500px){
    .spending{
        font-size: 2.4rem;
    }

    .tabla{

        padding-top: 6rem;
        gap: 0.8rem;
    }
}

.orden{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.grafico{

    background-color: hsl(10, 79%, 65%);
    border-radius: 0.5rem;
    width: 100%;
    cursor: pointer;
}

.grafico:hover{
    background-color: hsla(10, 79%, 65%,0.7);
}

.monto{
    font-size: 1.6rem;
    text-align: center;
    background-color:  hsl(25, 47%, 15%);
    color: hsl(33, 100%, 98%);
    font-weight: 700;
    padding: 1rem;
    position: absolute;
    margin-left: -1rem;
    margin-top: -4.5rem;
    border-radius: 0.5rem;
    display: none;
}




.wed{height: 15rem;background-color: hsl(186, 34%, 60%);}
.wed:hover{height: 15rem;background-color: hsla(186, 34%, 60%,0.7);}
.sat{height: 12rem;}
.tue{height: 10rem;}
.sun{height: 9rem;}
.thu{height: 8rem;}
.fri{height: 6rem;}
.mon{height: 5rem;}


.dia{
    font-size: 1.4rem;
    color: hsl(28, 10%, 53%);
    text-align: center;
    margin-top: 1rem;
}

.seccion_total_variacion{
    border-top: 2px solid hsl(27, 66%, 92%);
    margin-top: 2rem;
    padding-top: 2rem;
}

.total_variacion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.der{
    text-align: right;
}

.total_valor{
    font-size: 5rem;
    font-weight: 700;
    color: hsl(25, 47%, 15%);
    margin-top: 1rem;
}
@media (max-width:500px){
    .total_valor{
        font-size: 3.4rem;
    }
}
.total_texto,.variacion_texto{
    font-size: 1.8rem;
    color: hsl(28, 10%, 53%);
}
@media (max-width:500px){
    .total_valor{
        font-size: 3rem;
    }
    .total_texto,.variacion_texto{
        font-size: 1.6rem;
    }
}
.variacion{
    margin: auto 0;
}
.variacion_digitos{
    font-size: 1.8rem;
    font-weight: 700;
    color: hsl(25, 47%, 15%);
}